<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/styles/menuStyle.css" rel="stylesheet" />
    <link href="/styles/indexStyle.css" rel="stylesheet" />
    <link href="/styles/createStyle.css" rel="stylesheet" />
    <link href="/styles/viewStyle.css" rel="stylesheet" />
    <link href="/styles/editStyle.css" rel="stylesheet" />
    <link href="/styles/footerStyle.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Lora:ital,wght@0,400..700;1,400..700&display=swap"
      rel="stylesheet"
    />
    <title>BLOG 313</title>
  </head>
  <body>
    <%- include("menu.ejs") %>
  </body>
</html>
