<div class="title">
  <h1>BLOG 313</h1>
  <hr />
</div>
<div class="menu">
  <form class="home" action="/home" method="POST">
    <button type="submit">Home</button>
  </form>

  <form class="create" action="/create" method="POST">
    <button type="submit">Create</button>
  </form>
</div>