.editPost {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 78.5vh;
  margin-top: -1em;
}

.editPost form {
  width: 80%;
  min-height: 78.5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  border-left: 0.3em solid black;
  border-right: 0.3em solid black;
  background-color: #f0e68c;
}

.editPostTitle,
.editPostContent,
.update {
  margin-bottom: 2%;
  text-align: center;
  max-width: 92%;
  min-height: 1.3em;
  font-family: 'Lora', 'Sans Serif';
}

.editPostTitle {
  margin-top: 3%;
  font-size: 28pt;
  width: 70%;
  height: 1.3em;
  min-width: 30%;
  background-color: #FAEBD7;
}

.editPostContent {
  font-size: 20pt;
  width: 92%;
  height: 13em;
  min-width: 60%;
  background-color: #FAEBD7;
}

.buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 3%;
    justify-content: center;
}

.update {
  margin-top: 1%;
  height: 3em;
  width: 33%;
  background-color: #DAA520;
  border: 2px solid black;
  border-radius: 0.5em;
  font-weight: bold;
}

.cancel {
    margin-top: 1%;
    height: 3em;
    width: 33%;
    background-color: #DAA520;
    border: 2px solid black;
    border-radius: 0.5em;
    font-weight: bold;
  }

.update:hover {
  background-color: #B8860B;
}