footer {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #bdb76b;
  font-family: 'EB Garamond', 'Sans Serif';
}

footer hr {
  /* margin-top: -1em; */
  align-self: center;
  height: 0.35em;
  margin-top: -0.05em;
  width: 100%;
  background-color: black;
  border: none;
}
